.pannel {
  display: flex;
}

.pannel-left {
  margin: 0 auto 0 0;
}

.pannel-right {
  margin: 0 0 0 auto;
}

.pannel-right * {
  margin: 0 0 0 20px;
}

.pannel-right button {
  background-color: transparent;
  border: slateblue 2px solid;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  color: rgb(53, 43, 117);
}

.pannel-right button:hover {
  background-color: slateblue;
  color: white;
  transition: .3s all;
}