.App {
    display: block;
    margin: 0 auto;
    padding: 10px 10px;
    width: calc(100vw - 20px);
    max-width: 100vh;
    height: calc(100vh - 20px);
    max-height: 100vw;
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    background-color: #382b3e;

    -webkit-box-shadow: 0px 0px 75px 1px rgba(0,0,0,0.67);
    -moz-box-shadow: 0px 0px 75px 1px rgba(0,0,0,0.67);
    box-shadow: 0px 0px 75px 1px rgba(0,0,0,0.67);
}